[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "pandoc-templates"]
	path = pandoc-templates
	url = https://github.com/wcaleb/pandoc-templates.git
