@import url('reveal.js/css/theme/sky.css');

.reveal h1 { font-size: 2em; }
.reveal h2 { font-size: 1.5em; }
.reveal h3 { font-size: 1em; }

.reveal dl {
    text-align: left;
}

.reveal dd {
  padding-left: 5%;
  font-size: 80%;
}
